<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bulk Mailer</title>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <div class="container">
    <h1>Bulk Mailer</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group" style="align-items: center; text-align: center;">
        <label for="attachment">Emails ExcelFile</label>
        <input type="file" name="emailFile" id="emailFile" required>
      </div>
    
  
    
      <div class="form-group" style="padding: 20px;">
        <label for="subject">Email Subject:</label>
        <input type="text" name="subject" id="subject" required style="width: 100%;padding: 8px;">
      </div>
    
      <div class="form-group" style="padding: 20px;">
        <label for="message">Email Message:</label>
        <textarea name="message" id="message" rows="10" required style="width: 100%;"></textarea>
      </div>

      <div class="form-group" style="align-items: center; text-align: center;">
        <label for="attachment">Upload Files</label>
        <input type="file" name="attachment" id="attachment">
      </div>


    <div style="align-items: center;text-align: center;">
      <button style="background-color: #007bff;color: white;padding: 10px 20px;border-radius: 7px;border-color: #007bff;border-style: solid;cursor: pointer;" type="submit">Send Emails</button>
    </div>
    </form>
    
    </form>
  </div>
</body>
</html>
